<div class="container">
  <app-cockpit
          (svCreated)="onServerAdded($event)"
          (bpCreated)="onBlueprintAdded($event)"
  ></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-default" (click)="onChangeFirst()">Change first element</button>
    <app-server-element *ngFor="let serverElement of serverElements"
    [srvElement]="serverElement"
    [name]="serverElement.name"
    ></app-server-element>
    </div>
  </div>
</div>